# Ignore node_modules folder
node_modules/

# Ignore build output (dist folder)
dist/

# Ignore bundled JavaScript file in public folder
public/js/bundle.js

# Ignore sourcemaps (optional, if you're generating sourcemaps)
public/js/*.map

# Ignore log files
*.log

# Ignore environment variables file (if applicable)
.env

# Ignore IDE or editor config files (optional, based on your IDE)
.vscode/
.idea/
*.swp

# Ignore temporary files
*.tmp